# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
*.egg-info/
.eggs/
venv/

# Terraform
terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Documentation
docs/

# Other
README.md
LICENSE
.vscode/
