option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cocktaildb.wsgi:application  # Make sure 'cocktaildb' is your actual project name
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cocktaildb.settings # Make sure 'cocktaildb' is your actual project name
    # Add any other environment variables your Django app needs
    # e.g., DATABASE_URL, SECRET_KEY, DEBUG (set to False in production)
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic: # Add this for static files
    command: "python manage.py collectstatic --noinput"
    leader_only: true